{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{%static 'forms/fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{%static 'forms/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{%static 'forms/css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{%static 'forms/css/style.css' %}">

    <title>STALLS</title>
  </head>
  <body>
  
    {% include "admin_menubar.html" %}
  <div class="content">
    
    <div class="container">
      <h2 class="mb-5">Remove Stall</h2>
      

      <div class="table-responsive">

        <table class="table table-striped custom-table">
          <thead>
            <tr>
              
              <th scope="col">Stall ID</th>
              <th scope="col">Stall Number</th>
              
              <th scope="col">Description</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row">
                {% for ct in data1 %}
                <tr>
                    <td>{{ct.stall_id}}</td>
                    <td>{{ct.stall_number}}</td>
                    
                    <td>{{ct.descripion}}</td>
                    <td>{{ct.status}}</td> 
                    <td><a href="/removestall1/{{ct.stall_id}}">remove </a></td>
                    <td><a href="/updatestall/{{ct.stall_id}}">update </a></td>
                  </tr>
                {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>


    </div>

  </div>
    
    

    <script src="{%static 'forms/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{%static 'forms/js/popper.min.js' %}"></script>
    <script src="{%static 'forms/js/bootstrap.min.js' %}"></script>
    <script src="{%static 'forms/js/main.js' %}"></script>
  </body>
</html>