
<form action="/insert/" method="post">
    {% csrf_token %}
<label>student id</label>
<input type="text" name="id"><br>
<label>student name</label>
<input type="text" name="name"><br>
<label>student dept</label>
<input type="text" name="dept"><br>
<label>mark1</label>
<input type="number" name="m1"><br>
<label>mark2</label>
<input type="number" name="m2"><br>
<label>mark3</label>
<input type="number" name="m3"><br>
<label>mark4</label>
<input type="number" name="m4"><br>

<input type="submit" value="submit"></form>